<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.valamas.hevesitoolbox" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="hu.valamas.hevesitoolbox.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="hu.valamas.hevesitoolbox.iranyszog"
            android:label="@string/title_activity_iranyszog" >
        </activity>
        <activity
            android:name="hu.valamas.hevesitoolbox.polarispont"
            android:label="@string/title_activity_polarispont" >
        </activity>
        <activity
            android:name="hu.valamas.hevesitoolbox.numerikusterulet"
            android:label="@string/title_activity_numerikusterulet" >
        </activity>
        <activity
            android:name="hu.valamas.hevesitoolbox.haromszog"
            android:label="@string/title_activity_haromszog"></activity>
    </application>

</manifest>
